UISTYLE = text
NATIVE = true
THREADS = false
STATIC = true
OSTYPE =
OSARCH = Linux

Time = Thu Aug 24 11:19:17 UTC 2017
uname -a = Linux scw-0f0be2 4.3.5-std-1 #1 SMP Fri Feb 19 11:52:18 UTC 2016 armv7l GNU/Linux
Platform = armv7 vfpv3-d16
ocaml -version = The OCaml toplevel, version 4.02.3
Make command = make UISTYLE=text NATIVE=true STATIC=true
unison -version = unison version 2.48.4
unison details = src/unison: ELF 32-bit LSB executable, ARM, EABI5 version 1 (GNU/Linux), statically linked, for GNU/Linux 3.2.0, BuildID[sha1]=22bdf96cdf5ad6621fd4ac2a075ba2ac141283ed, not stripped
unison-fsmonitor details = src/unison-fsmonitor: ELF 32-bit LSB executable, ARM, EABI5 version 1 (GNU/Linux), statically linked, for GNU/Linux 3.2.0, BuildID[sha1]=7c33829c9841b717b780907a3f1480ef79dced31, not stripped
