UISTYLE = text
NATIVE = true
THREADS = false
STATIC = true
OSTYPE =
OSARCH = Linux

Time = Thu Aug 24 11:26:35 UTC 2017
uname -a = Linux scw-aa7225 4.9.20-std-1 #1 SMP Tue Apr 4 12:56:17 UTC 2017 x86_64 GNU/Linux
ocaml -version = The OCaml toplevel, version 4.02.3
Make command = make UISTYLE=text NATIVE=true STATIC=true
unison -version = unison version 2.48.4
unison details = src/unison: ELF 64-bit LSB executable, x86-64, version 1 (GNU/Linux), statically linked, for GNU/Linux 2.6.32, BuildID[sha1]=239feb0f361ef125d11b2f4b6d9e578d9a95f5e5, not stripped
unison-fsmonitor details = src/unison-fsmonitor: ELF 64-bit LSB executable, x86-64, version 1 (GNU/Linux), statically linked, for GNU/Linux 2.6.32, BuildID[sha1]=fcd09c81e82bbc95e46fda64e49dfd0eb8c84752, not stripped
